

.iti__flag {background-image: url("/static/img/flags.png");}
 
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/static/img/flags@2x.png");}
}

.hide {
  display: none
}

.error {
  color: red;
  outline: 1px solid red;
}

.success{
  color: green;
}